@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #2f80ed;
  --text: #333333;
  --divider: #e0e0e0;
}
/**/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */
/**/
body {
  color: var(--text);
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider);
}
.header__logo,
.header__actions {
  padding: 40px;
}
.header__actions {
  border-left: 1px solid var(--divider);
}
.header__action {
  display: flex;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
}
